#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    padding: 1rem;
}

button {
    width: 155px;
}

.result {
    text-align: center;
    width: 100%;
}